---
name: Trigger workflow build-packages for different releases

on:
  push:
  schedule:
    - cron: '0 3 * * *'

permissions:
  actions: read
  id-token: write
  contents: write

jobs:
  call-build-packages-rec-53:
    uses: romeroalx/pdns/.github/workflows/build-packages.yml@master
    with:
      is_release: 'NO'
      product: 'recursor'
      ref: backport-16748-to-rec-5.3.x
    secrets:
      DOWNLOADS_AUTOBUILT_SECRET: ${{ secrets.DOWNLOADS_AUTOBUILT_SECRET }}
      DOWNLOADS_AUTOBUILT_RSYNCTARGET: ${{ secrets.DOWNLOADS_AUTOBUILT_RSYNCTARGET }}
      DOWNLOADS_AUTOBUILT_HOSTKEY: ${{ secrets.DOWNLOADS_AUTOBUILT_HOSTKEY }}
      PULP_FILE_REPO_NAME: ${{ secrets.PULP_FILE_REPO_NAME }}
      PULP_URL: ${{ secrets.PULP_URL }}
      PULP_CONTENT_URL: ${{ secrets.PULP_CONTENT_URL }}
      PULP_CI_USERNAME: ${{ secrets.PULP_CI_USERNAME }}
      PULP_CI_PASSWORD: ${{ secrets.PULP_CI_PASSWORD }}
      PULP_PDNS_GPG_PUBKEY_MASTER: ${{ secrets.PULP_PDNS_GPG_PUBKEY_MASTER }}
      PULP_PDNS_GPG_PUBKEY: ${{ secrets.PULP_PDNS_GPG_PUBKEY }}

  call-build-packages-dnsdist-20:
    uses: romeroalx/pdns/.github/workflows/build-packages.yml@master
    with:
      is_release: 'NO'
      product: 'dnsdist'
      ref: backport-16748-to-dnsdist-2.0.x
    secrets:
      DOWNLOADS_AUTOBUILT_SECRET: ${{ secrets.DOWNLOADS_AUTOBUILT_SECRET }}
      DOWNLOADS_AUTOBUILT_RSYNCTARGET: ${{ secrets.DOWNLOADS_AUTOBUILT_RSYNCTARGET }}
      DOWNLOADS_AUTOBUILT_HOSTKEY: ${{ secrets.DOWNLOADS_AUTOBUILT_HOSTKEY }}
      PULP_FILE_REPO_NAME: ${{ secrets.PULP_FILE_REPO_NAME }}
      PULP_URL: ${{ secrets.PULP_URL }}
      PULP_CONTENT_URL: ${{ secrets.PULP_CONTENT_URL }}
      PULP_CI_USERNAME: ${{ secrets.PULP_CI_USERNAME }}
      PULP_CI_PASSWORD: ${{ secrets.PULP_CI_PASSWORD }}
      PULP_PDNS_GPG_PUBKEY_MASTER: ${{ secrets.PULP_PDNS_GPG_PUBKEY_MASTER }}
      PULP_PDNS_GPG_PUBKEY: ${{ secrets.PULP_PDNS_GPG_PUBKEY }}
