---
name: 'Build Docker images'

on:
  push:
  schedule:
    - cron: '0 4 * * *'

permissions: # least privileges, see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
  contents: read
  actions: read

jobs:
  call-build-image-auth:
    uses: romeroalx/pdns/.github/workflows/build-docker-images.yml@build-merge-images-arch
    # if: ${{ vars.SCHEDULED_DOCKER }}
    with:
      product: auth
      ref: master
      image-name: pdns-auth-master
      image-tags: |-
        latest
      image-description: 'EXPERIMENTAL pdns authoritative image'
      platforms: linux/amd64,linux/arm64/v8
      push: true
    secrets:
      DOCKERHUB_ORGANIZATION_NAME: ${{ secrets.DOCKERHUB_ORGANIZATION_NAME }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  call-build-image-recursor:
    uses: romeroalx/pdns/.github/workflows/build-docker-images.yml@build-merge-images-arch
    # if: ${{ vars.SCHEDULED_DOCKER }}
    with:
      product: recursor
      ref: master
      image-name: pdns-recursor-master
      image-tags: |-
        latest
        second.tag
      image-description: 'EXPERIMENTAL pdns recursor image'
      platforms: linux/amd64,linux/arm64/v8
      push: true
    secrets:
      DOCKERHUB_ORGANIZATION_NAME: ${{ secrets.DOCKERHUB_ORGANIZATION_NAME }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  call-build-image-dnsdist:
    uses: romeroalx/pdns/.github/workflows/build-docker-images.yml@build-merge-images-arch
    # if: ${{ vars.SCHEDULED_DOCKER }}
    with:
      product: dnsdist
      ref: master
      image-name: dnsdist-master
      image-tags: |-
        latest
      image-description: 'EXPERIMENTAL dnsdist image'
      platforms: linux/amd64,linux/arm64/v8
      push: true
    secrets:
      DOCKERHUB_ORGANIZATION_NAME: ${{ secrets.DOCKERHUB_ORGANIZATION_NAME }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
